$font-size:12px;
$width: 1090px;
$color:#ed145b;
header {
    height: 28px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    font-size: $font-size;
    color: #6c6c6c;
    line-height: 28px;
    div {
        width: $width;
        margin: 0 auto;
        height: 100%;
        p {
            float: left;
            span {
                cursor: pointer;
                margin: 0 10px;
                &:hover {
                    color: $color;
                }
            }
        }
        #nav {
            float: right;
            height: 28px;
            >li {
                float: left;
                height: 28px;
                margin: 0 7px;
                a {
                    color: #999999;
                    &:hover {
                        color: $color;
                    }
                    float: left;
                }
                .iconfont {
                    float: left;
                    font-size: 14px;
                    display: inline-block;
                    vertical-align: middle;
                }
                b {
                    display: inline-block;
                    width: 6px;
                    height: 3px;
                    background: url(../images/header_newicon1.png);
                    margin: 12px 6px 0 6px;
                    float: right;
                    transition: all 0.3s;
                }
                i {
                    float: left;
                    display: inline-block;
                    margin-right: 5px;
                }
                &:nth-of-type(3) {
                    i {
                        margin-top: 11px;
                        width: 9px;
                        height: 8px;
                        background: url(../images/header_sprites1.png);
                    }
                }
                &:nth-of-type(5) {
                    i {
                        margin-top: 8px;
                        width: 10px;
                        height: 14px;
                        background: url(../images/header_sprites1.png) 0 -21px;
                    }
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    padding: 0 12px;
                    a {
                        color: $color;
                    }
                }
                &:nth-of-type(4) {
                    width: 76px;
                }
                &:nth-last-of-type(1) {
                    width: 60px;
                }
                ul {
                    display: none;
                    position: absolute;
                    top: 29px;
                    right: -1px;
                    background: #fff;
                    z-index: 1;
                    width: 110px;
                    border: 1px solid #e5e5e5;
                    border-top: 0;
                    li {
                        height: 29px;
                        width: 110px;
                        text-indent: 20px;
                    }
                }
            }
            .xiala {
                position: relative;
                >a {
                    float: right;
                }
                &:hover {
                    b {
                        transform-origin: center;
                        transform: rotateZ(180deg);
                    }
                    background: #fff;
                    height: 40px;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}

#top {
    height: 110px;
    width: $width;
    margin: 0 auto;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    h1 {
        margin-top: 13px;
    }
    form {
        margin-top: 28px;
        input {
            float: left;
        }
        #txt {
            width: 433px;
            height: 32px;
            border: 3px solid $color;
        }
        #btn {
            border: 0;
            width: 97px;
            height: 38px;
            background: $color;
            color: #fff;
            cursor: pointer;
        }
        p {
            line-height: 30px;
            color: #999;
            a {
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
                color: #999;
                padding: 0 8px 0 4px;
                border-right: 1px solid #999;
                &:hover {
                    color: $color;
                }
            }
        }
    }
    #cart {
        margin-top: 33px;
        position: relative;
        width: 138px;
        height: 32px;
        border: 1px solid #e4e4e4;
        i {
            display: inline-block;
            vertical-align: middle;
            width: 46px;
            height: 32px;
            background: #fff url(../images/cart.gif)no-repeat 10px 0;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
        b {
            display: inline-block;
            vertical-align: middle;
            width: 6px;
            height: 3px;
            background: url(../images/header_newicon1.png);
            transition: all 0.3s;
        }
        div {
            &:first-child {
                width: 138px;
                height: 32px;
                background: #f8f8f8;
                color: #666;
                position: absolute;
                border-bottom: 1px solid #e4e4e4;
            }
            &:last-child {
                width: 300px;
                height: 82px;
                background: #fff;
                border: 1px solid #e4e4e4;
                position: absolute;
                right: -1px;
                top: 32px;
                display: none;
            }
        }
        &:hover {
            padding-bottom: 1px;
            border-bottom: 0;
            b {
                transform-origin: center;
                transform: rotateZ(180deg);
            }
            div {
                &:first-child {
                    border-bottom-color: #fff;
                    background: #fff;
                    z-index: 2;
                }
                &:last-child {
                    display: block;
                    z-index: 1;
                }
            }
        }
    }
}

nav {
    height: 38px;
    background: #171717;
    font-size: 12px;
    >div {
        width: $width;
        margin: 0 auto;
        position: relative;
        >ul {
            float: left;
            position: relative;
            >li {
                float: left;
                &:first-child {
                    background: $color;
                    padding: 0 40px;
                }
                >div {
                    &:first-child {
                        line-height: 38px;
                        text-align: center;
                        padding: 0 22px;
                        cursor: pointer;
                        a {
                            color: #fff;
                        }
                        b {
                            display: inline-block;
                            vertical-align: middle;
                            width: 6px;
                            height: 3px;
                            background: url(../images/header_newicon1.png);
                            transition: all 0.3s;
                        }
                        &:hover {
                            a {
                                color: #ccc;
                            }
                            b {
                                transform-origin: center;
                                transform: rotateZ(180deg);
                            }
                        }
                    }
                }
                .list {
                    width: 1190px;
                    height: 308px;
                    background: #fff;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 38px;
                    display: none;
                    text-align: left;
                    .left {
                        width: 273px;
                        float: left;
                        img {
                            margin: 10px 0 0 10px;
                        }
                    }
                    .right {
                        width: 789px;
                        float: left;
                        padding-top: 10px;
                        figure {
                            width: 262px;
                            height: 136px;
                            border-right: 1px #e4e4e4 dashed;
                            border-bottom: 1px #e4e4e4 dashed;
                            float: left;
                            figcaption {
                                line-height: 0;
                                line-height: 50px;
                                font-size: 16px;
                                background: url(../images/header_sprites1.png) no-repeat 19px 0;
                                text-indent: 47px;
                            }
                            &:first-child {
                                figcaption {
                                    background-position-y: -428px;
                                }
                            }
                            &:nth-child(2) {
                                figcaption {
                                    background-position-y: -206px;
                                }
                            }
                            &:nth-child(3) {
                                border-right: 0;
                                figcaption {
                                    background-position-y: -243px;
                                }
                            }
                            &:nth-child(4) {
                                border-bottom: 0;
                                figcaption {
                                    background-position-y: -315px;
                                }
                            }
                            &:nth-child(5) {
                                border-bottom: 0;
                                figcaption {
                                    background-position-y: -388px;
                                }
                            }
                            &:last-child {
                                border: 0;
                                figcaption {
                                    background-position-y: -462px;
                                }
                            }
                            ul {
                                overflow: hidden;
                                li {
                                    float: left;
                                    padding: 6px 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        p {
            float: right;
            height: 38px;
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-right: 15px;
                margin-top: 4px;
                &:first-child {
                    background: url(../images/z_01new.jpg);
                }
                &:nth-child(2) {
                    background: url(../images/z02.jpg);
                }
                &:last-child {
                    background: url(../images/z03.jpg);
                }
            }
        }
    }
}

#banner {
    height: 350px;
    background: url(../images/166934_1920_350_002-web.jpg)no-repeat center/cover;
}

section {
    padding-top: 20px;
    padding-bottom: 1px;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    #content {
        width: $width;
        margin: 0 auto;
        figure {
            figcaption {
                width: 468px;
                margin: 0 auto;
                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    width: 232px;
                    height: 44px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 44px;
                    float: left;
                    color: #333;
                    border: 1px solid #666;
                    i {
                        position: absolute;
                        bottom: -20px;
                        left: 106px;
                        display: none;
                        border: {
                            width: 10px;
                            style: solid;
                            color: #666 transparent transparent transparent;
                        }
                    }
                }
                .select {
                    background: #666;
                    color: #e6e6e6;
                    i {
                        display: block;
                    }
                }
            }
            #navlist {
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    width: 535px;
                    height: 210px;
                    border-top: 1px solid #000;
                    float: left;
                    margin-top: 20px;
                    position: relative;
                    cursor: pointer;
                    div {
                        width: 100%;
                        height: 100%;
                        display: none;
                        position: absolute;
                        background: rgba(255, 255, 255, 0.5);
                        top: 0;
                    }
                    img {
                        width: 535px;
                        height: 210px;
                    }
                    &:hover {
                        div {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .nav_con {
        margin-top: 20px;
        height: 80px;
        width: 100%;
        background: url(../images/54101_1920_80_001-web.jpg)center/cover;
    }
    #center {
        padding-top: 10px;
        width: $width;
        margin: 0 auto;
        figure {
            margin-top: 20px;
            height: 340px;
            position: relative;
            background: #fff;
            .bg {
                cursor: pointer;
                .dan {
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.4);
                    top: 0;
                    display: none;
                    p {
                        font-size: 12px;
                        color: #999;
                        position: absolute;
                        bottom: 0;
                        line-height: 40px;
                        span {
                            padding: 5px;
                            margin: 0 5px;
                            background: #fff;
                        }
                    }
                }
                &:hover {
                    .dan {
                        display: block;
                    }
                }
                width: 100%;
                height: 100%;
            }
            >img {
                height: 320px;
            }
            .tan {
                position: absolute;
                width: 382px;
                padding: 0 40px;
                height: 332px;
                top: 18px;
                right: 20px;
                background: #fff;
                box-shadow: 0 0 1px 1px #e7e7e7;
                h6 {
                    width: 194px;
                    height: 26px;
                    line-height: 26px;
                    background: #333;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                    margin-left: 94px;
                    margin-top: -2px;
                    margin-bottom: 30px;
                }
                .lj {
                    cursor: pointer;
                    line-height: 24px;
                    span {
                        color: $color;
                    }
                    color: #767676;
                }
                .buy {
                    height: 36px;
                    margin-top: 26px;
                    .new {
                        height: 36px;
                        line-height: 36px;
                        font-size: 24px;
                        display: inline-block;
                    }
                    .old {
                        text-decoration: line-through;
                        height: 22px;
                        color: #727272;
                        display: inline-block;
                        vertical-align: bottom;
                        font-size: 12px;
                    }
                    input {
                        width: 106px;
                        height: 36px;
                        background: $color;
                        color: #fff;
                        border: 0;
                        float: right;
                        cursor: pointer;
                    }
                }
                .per {
                    height: 60px;
                    text-align: right;
                    background: url(../images/029_big.jpg)no-repeat -5px;
                    span {
                        line-height: 60px;
                        font-size: 26px;
                        color: #c8966a;
                        display: inline-block;
                        vertical-align: top;
                    }
                    i {
                        line-height: 54px;
                    }
                }
            }
        }
    }
    #new {
        width: $width;
        margin: 30px auto;
        >div {
            height: 26px;
            background: url(../images/main_tit02_02.png)no-repeat 0 -202px;
            border-bottom: 2px solid #000;
        }
        ul {
            overflow: hidden;
            li {
                width: 330px;
                padding: 10px;
                background: #fff;
                margin-top: 20px;
                float: left;
                margin-right: 20px;
                position: relative;
                &:nth-child(3N) {
                    margin-right: 0;
                }
                &:hover {
                    div {
                        &:last-child {
                            display: block;
                        }
                    }
                }
                a {
                    img {
                        width: 330px;
                        height: 330px;
                        margin-bottom: 20px;
                    }
                    p {
                        width: 100%;
                        &:nth-of-type(1) {
                            font-size: 14px;
                            line-height: 24px;
                            height: 60px;
                        }
                        &:nth-last-of-type(1) {
                            height: 34px;
                            overflow: hidden;
                            span {
                                &:first-child {
                                    color: $color;
                                    font-size: 20px;
                                    line-height: 34px;
                                }
                                &:last-child {
                                    font-size: 12px;
                                    text-decoration: line-through;
                                    color: #929292;
                                }
                            }
                        }
                    }
                    >div {
                        width: 330px;
                        height: 330px;
                        &:first-child {
                            background: url(../images/1306356_dx_1500_400.jpg)no-repeat center/cover;
                        }
                        &:last-child {
                            position: absolute;
                            display: none;
                            top: 10px;
                            background: rgba(255, 255, 255, 0.3);
                            input {
                                width: 80px;
                                height: 26px;
                                border: 0;
                                background: $color;
                                color: #fff;
                                float: right;
                            }
                            div {
                                height: 30px;
                                width: 330px;
                                line-height: 30px;
                                text-align: center;
                                background: #9e85a2;
                                color: #fff;
                                position: absolute;
                                bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    #bottom {
        width: $width;
        margin: 0 auto;
        margin-top: 40px;
        height: 488px;
        .top {
            height: 26px;
            background: url(../images/main_tit02_02.png)no-repeat;
            border-bottom: 2px solid #000;
            margin-bottom: 20px;
        }
        .left {
            float: left;
            width: 258px;
            height: 425px;
            padding: 10px 10px 5px 10px;
            background: #fff;
            position: relative;
            &:hover {
                div {
                    display: block;
                }
            }
            div {
                width: 258px;
                height: 425px;
                background: rgba(255, 255, 255, 0.2);
                display: none;
                position: absolute;
                top: 10px;
            }
        }
        .right {
            float: right;
            width: 790px;
            height: 440px;
            background: #fff;
            ul {
                overflow: hidden;
                li {
                    float: left;
                    margin-top: 10px;
                    margin-left: 10px;
                    position: relative;
                    width: 380px;
                    height: 205px;
                    div {
                        width: 160px;
                        height: 132px;
                        bottom: 0;
                        right: 10px;
                        position: absolute;
                        font-size: 12px;
                        text-align: center;
                        p {
                            &:first-child {
                                font-weight: bold;
                            }
                            &:nth-child(2) {
                                line-height: 36px;
                            }
                            &:nth-child(3) {
                                margin-top: 6px;
                                span {
                                    font-size: 16px;
                                    color: $color;
                                }
                                margin-bottom: 12px;
                            }
                        }
                        i {
                            display: block;
                            width: 100%;
                            background: url(../images/timeion.png)no-repeat 10px 3px;
                        }
                    }
                }
            }
        }
    }
}

#navleft {
    width: 60px;
    height: 248px;
    position: fixed;
    top: 100px;
    left: 74px;
    background: #fff;
    font-size: 12px;
    dt {
        width: 60px;
        height: 62px;
        background: #fd6396;
        color: #fff;
        line-height: 30px;
        span {
            display: block;
        }
    }
    dd {vertical-align: bottom;
        color: #8e8e8e;
        width: 60px;
        height: 62px;
        line-height: 100px;
        overflow: hidden;
        cursor: pointer;
        &:nth-of-type(1) {
            background: url(../images/pc_new.jpg)no-repeat;
        }
        &:nth-of-type(2) {
            background: url(../images/pc_new.jpg)no-repeat 0 -124px;
        }
        &:nth-of-type(3) {
            background: url(../images/pc_new.jpg)no-repeat 0 -186px;
        }
        &:hover {
            background-position-x: -88px;
            color: $color;
        }
    }
    dl {
        text-align: center;
        .select {
            background-position-x: -176px;
            color: #fff;
        }
    }
}