$width:1090px;
$color:#ed145b;
nav {
    .xiala {
        ul {
            display: none;
            position: absolute;
            top: 38px;
            background: #fff;
            z-index: 1;
            width: 100px;
            border: 1px solid #e5e5e5;
            border-top: 0;
            li {
                height: 29px;
                line-height: 29px;
                width: 110px;
                text-indent: 20px;
            }
        }
    }
}

section {
    background: #ede7e1;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    >div {
        width: $width;
        margin: 0 auto;
        figure {
            &:first-child {
                background: #fff;
                margin-bottom: 20px;
                figcaption {
                    height: 40px;
                    border: 1px solid #e2e2e2;
                    line-height: 40px;
                    text-indent: 20px;
                    color: #333;
                    p {
                        font-weight: bold;
                        span {
                            cursor: pointer;
                            &:last-child {
                                cursor: auto;
                                color: $color;
                            }
                        }
                    }
                }
                >div {
                    overflow: hidden;
                    padding: 10px 20px 20px 20px;
                    border: 1px solid #e2e2e2;
                    border-top: 0;
                    h4 {
                        line-height: 28px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .zuob {
                        margin-top: 20px;
                        float: left;
                        margin-left: 15px;
                        >div {
                            width: 350px;
                            height: 350px;
                            border: 1px solid #e2e2e2;
                            float: left;
                            overflow: hidden;
                        }
                        #zhong {
                            position: relative;
                            border-color: #fff;
                            img {
                                width: 350px;
                                height: 350px;
                            }
                            #fdj {
                                position: absolute;
                                display: none;
                                width: 175px;
                                height: 175px;
                                border: 1px solid #999;
                                top: 0;
                                left: 0;
                            }
                        }
                        #da {
                            position: absolute;
                            display: none;
                            left: 30px;
                            left: 600px;
                            img {
                                position: absolute;
                                width: 700px;
                                height: 700px;
                            }
                        }
                    }
                    .youb {
                        padding-left: 10px;
                        width: 460px;
                        font-size: 12px;
                        float: left;
                        margin-left: 120px;
                        h2 {
                            padding-bottom: 14px;
                            font-size: 14px;
                            font-weight: bold;
                            border-bottom: 1px solid #eee;
                            i {
                                color: $color;
                            }
                            span {
                                font-size: 24px;
                                color: $color;
                                margin-right: 4px;
                            }
                        }
                        .kou {
                            height: 46px;
                            line-height: 46px;
                            border-bottom: 1px solid #eee;
                            color: #666;
                            >span {
                                float: left;
                            }
                            ul {
                                margin-top: 17px;
                                float: left;
                                padding: 0 10px;
                                li {
                                    float: left;
                                    width: 12px;
                                    height: 12px;
                                    background: url(../images/new_slides_star.png);
                                }
                            }
                            p {
                                span {
                                    cursor: pointer;
                                    color: $color;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .buy {
                            padding-bottom: 15px;
                            border-bottom: 1px solid #eee;
                            p {
                                color: #666;
                                padding-top: 15px;
                                overflow: hidden;
                                i {
                                    float: left;
                                    line-height: 28px;
                                    margin-right: 15px;
                                }
                                span {
                                    cursor: pointer;
                                    text-align: center;
                                    line-height: 26px;
                                    display: inline-block;
                                    width: 26px;
                                    height: 26px;
                                    border: 1px solid #e0e0e0;
                                    float: left;
                                }
                                input {
                                    text-align: center;
                                    float: left;
                                    width: 48px;
                                    height: 26px;
                                    border: 1px solid #e0e0e0;
                                    background: #fdfdfd;
                                }
                                padding-bottom: 20px;
                            }
                            em {
                                display: block;
                                width: 165px;
                                height: 40px;
                                cursor: pointer;
                                background: url(../images/mall_product_v4.png)no-repeat 0 -200px;
                            }
                        }
                        .xiao {
                            height: 60px;
                            border-bottom: 1px solid #eee;
                            color: #8e8e8e;
                            i {
                                margin: 14px 18px 0 10px;
                                display: inline-block;
                                width: 12px;
                                height: 12px;
                                background: url(../images/allicons_new.png)no-repeat -288px 0;
                            }
                            line-height: 40px;
                            span {
                                color: $color;
                            }
                        }
                        .fuwu {
                            overflow: hidden;
                            padding-top: 22px;
                            p {
                                float: left;
                                color: #666;
                                width: 36px;
                                height: 26px;
                                line-height: 26px;
                            }
                            ul {
                                width: 400px;
                                float: left;
                                margin-bottom: 10px;
                                li {
                                    padding: 6px 5px;
                                    border: 1px solid #eee;
                                    margin-right: 8px;
                                    margin-bottom: 5px;
                                    a {
                                        color: #888;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                    float: left;
                                }
                            }
                            span {
                                clear: both;
                                display: block;
                                overflow: hidden;
                                i {
                                    display: inline-block;
                                    width: 32px;
                                    padding: 5px 3px;
                                    text-align: center;
                                    line-height: 1;
                                    color: #fff;
                                    height: 24px;
                                    background: #e91359;
                                    float: left;
                                }
                                b {
                                    float: left;
                                    line-height: 34px;
                                    width: 184px;
                                    display: inline-block;
                                    margin-left: 10px;
                                    color: #ed145b;
                                }
                            }
                        }
                    }
                }
            }
            &:last-child {
                height: 404px;
                background: #fff;
                figcaption {
                    background: #2b2b2b;
                    height: 40px;
                    color: #fff;
                    line-height: 40px;
                    text-indent: 20px;
                }
                .lishi {
                    padding: 15px;
                    >div {
                        h4 {
                            height: 30px;
                            background: #eee;
                            color: #666;
                            text-indent: 12px;
                            line-height: 30px;
                            font-weight: bold;
                        }
                        >div {
                            border: 1px solid #eee;
                        }
                    }
                    .zuo {
                        width: 242px;
                        height: 333px;
                        float: left;
                        h4 {
                            width: 242px;
                        }
                        >div {
                            width: 240px;
                            height: 301px;
                            ul {
                                height: 301px;
                                padding-left: 20px;
                                overflow-y: auto;
                                li {
                                    width: 200px;
                                    height: 99px;
                                    border-bottom: 1px solid #eee;
                                    a {
                                        float: left;
                                        img {
                                            margin-top: 20px;
                                            width: 60px;
                                            height: 60px;
                                            margin-right: 15px;
                                        }
                                    }
                                    div {
                                        width: 125px;
                                        float: left;
                                        >a {
                                            margin-top: 14px;
                                            line-height: 18px;
                                            color: #323232;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                        p {
                                            color: $color;
                                            line-height: 24px;
                                        }
                                        span {
                                            color: #999;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right {
                        float: right;
                        width: 817px;
                        height: 331px;
                        h4 {
                            width: 817px;
                        }
                        >div {
                            width: 815px;
                            height: 300px;
                            overflow: hidden;
                            position: relative;
                            i {
                                position: absolute;
                                cursor: pointer;
                                width: 25px;
                                height: 50px;
                                opacity: .3;
                                top: 45%;
                                background: #000;
                                display: block;
                                filter: alpha(opacity=30);
                                color: #fff;
                                z-index: 100;
                                text-align: center;
                                font: 700 24px \5b8b\4f53, Hei;
                                line-height: 50px;
                                &:first-child {
                                    left: 0;
                                }
                                &:last-child {
                                    right: 0;
                                }
                            }
                            ul {
                                padding-top: 23px;
                                position: relative;
                                li {
                                    width: 175px;
                                    float: left;
                                    margin-left: 23px;
                                    a {
                                        width: 175px;
                                        display: block;
                                        img {
                                            width: 175px;
                                            height: 175px;
                                        }
                                        line-height: 18px;
                                        color: #323232;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                    p {
                                        color: $color;
                                        line-height: 24px;
                                        font-weight: bold;
                                    }
                                    span {
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}